/* General font styles for h1, p, and button elements */
h1, p, button {
    font-family: "Edu TAS Beginner", cursive;
}

/* Paragraph styling */
p {
    font-weight: bold;
    font-size: 1.25rem;
}

/* Button styling */
button {
    font-size: 1.8rem;
    font-weight: bold;
    display: block; /* Centers the button */
    margin: 0 auto; /* Centers the button horizontally */
}

button:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
}

/* Header styling */
header {
    text-align: center; /* Centers text in the header */
    padding: 1rem 0; /* Adds padding to the header */
}

/* Intro section in the header */
header .intro {
    margin-bottom: 1rem; /* Adds space below the intro section */
}

/* Scores section in the header */
header .scores {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Centers the scores horizontally */
    gap: 2rem; /* Adds space between the scores */
    height: 2.5rem; /* Sets a fixed height for the scores section */
}

/* Main content styling */
main {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Centers the ul element */
    margin-top: 2rem; /* Adds space above the main content to avoid overlap */
}

/* Styling for the ul element containing the cards */
main ul {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(5, 1fr); /* Maximum of 5 cards per row */
    gap: 2.5rem; /* Adds space between the cards */
    padding: 0; /* Removes default padding */
    justify-content: center; /* Centers the grid */
    list-style: none; /* Removes default list styling */
    margin: 0; /* Removes default margin */
    width: max-content; /* Ensures the grid only takes up the space it needs */
}

/* Styling for the individual cards */
main ul li {
    width: 8rem; /* Sets the width of the cards */
    height: 10rem; /* Sets the height of the cards */
    background-color: rgb(89, 95, 95); /* Sets the background color of the cards */
    border-radius: .5rem; /* Rounds the corners of the cards */
    border: 1px solid black; /* Gives the cards a border */
    display: flex; /* Use flexbox for card content */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}

main ul li:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
}

/* Footer styling */
footer p {
    font-size: .8rem; /* Sets the font size of the footer text */
    font-family: sans-serif; /* Sets the font family of the footer text */
    text-align: center; /* Centers the footer text */
}


/* Styles for during game */
/* Hides button */
.hidden {
    display: none;
}

.ready {
    background-color: rgb(220, 220, 220);
}

.wrongChosen {
    background-color: rgb(192, 0, 0);
}

.correctChosen {
    background-color: rgb(0, 179, 0);
}